@import '../abstracts/colours';
@import '../abstracts/mixins';
@import '../abstracts/text';

.navbar {
	@include flex-Center;
	justify-content: space-between;
	height: 50px;
	padding: 0 30px;
	background-color: $black-alt;
	border-bottom: 3px solid $red;

	.nav-branding {
		.ff-nav {
			font-size: 3rem;
			color: $black;
			-webkit-text-stroke-width: 2px;
			-webkit-text-stroke-color: red;
		}
		.connects-nav {
			font-size: 2rem;
			color: $red;
			font-style: italic;
			margin-left: 1px;
		}
	}

	ul {
		@include flex-Center;

		li {
			font-family: Arial, Helvetica, sans-serif;
			margin-left: 10px;
			list-style: none;
			color: #fff;
			font-size: 1.5rem;

			img {
				margin-top: 6px;
			}

			a {
				color: #fff;
				text-decoration: none;
			}
		}
	}
}
