.player1Cards {
	height: 200px;
	width: 420px;
	// border: 2px solid black;
	grid-column: 3/9;
	grid-row: 6/8;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
	place-items: start;
}
