@import '../abstracts/colours';
@import '../abstracts/mixins';
@import '../abstracts/text';

.table-container {
	width: 80%;
	height: 70vh;
	border: 10px solid $black;
	border-radius: 200px;
	user-select: none;
	background: $green;

	.table {
		width: 100%;
		height: 100%;
		border-radius: inherit;
		position: relative;

		.branding {
			text-align: center;
			position: absolute;
			height: 140px;
			width: 160px;
			top: calc(50% - 70px);
			right: calc(30% - 80px);

			h1 {
				font-size: 5rem;
				margin-bottom: -20px;
			}

			h2 {
				font-size: 3rem;
				font-style: italic;
			}
		}

		.timer {
			font-family: 'Source Code Pro', monospace;
			font-size: 3rem;
			font-weight: bold;
			padding: 0.54rem;
			border: 3px solid $black;
			background-color: $creme;
			border-radius: 30%;
			width: 170px;
			height: 80px;
			position: absolute;
			top: calc(20% - 40px);
			left: calc(35% - 75px);
		}
	}
}
