@import '../../abstracts/colours';
@import '../../abstracts/mixins';
@import '../../abstracts/text';

.player-cards-container {
	position: relative;
	background-color: #333;
}

// Player 2 Top Left
#card-1-TL,
#card-2-TL,
#card-3-TL,
#card-4-TL,
#card-5-TL {
	position: absolute;
	bottom: 0;
	left: 0;
	transform-origin: 100% 100%;
}

#card-1-TL {
	transform: rotate(45deg);
}
#card-2-TL {
	transform: rotate(27deg);
}
#card-3-TL {
	transform: rotate(9deg);
}
#card-4-TL {
	transform: rotate(-9deg);
}
#card-5-TL {
	transform: rotate(-27deg);
}

// Player 3 Top Right
#card-1-TR,
#card-2-TR,
#card-3-TR,
#card-4-TR,
#card-5-TR {
	position: absolute;
	bottom: 0;
	left: 0;
	transform-origin: 100% 100%;
}

#card-1-TR {
	transform: rotate(45deg);
}
#card-2-TR {
	transform: rotate(27deg);
}
#card-3-TR {
	transform: rotate(9deg);
}
#card-4-TR {
	transform: rotate(-9deg);
}
#card-5-TR {
	transform: rotate(-27deg);
}

// // Player 3 Bottom Right
// #card-1-BR,
// #card-2-BR,
// #card-3-BR,
// #card-4-BR,
// #card-5-BR {
// 	position: absolute;
// 	bottom: 0;
// 	left: 0;
// 	transform-origin: 100% 0%;
// }

// #card-1-BR {
// 	transform: rotate(45deg);
// }
// #card-2-BR {
// 	transform: rotate(27deg);
// }
// #card-3-BR {
// 	transform: rotate(9deg);
// }
// #card-4-BR {
// 	transform: rotate(-9deg);
// }
// #card-5-BR {
// 	transform: rotate(-27deg);
// }

.card-container-back {
	background: linear-gradient(#999, $creme);
	transform: rotate(0deg);
	border: 1px solid #333;

	.card {
		transform: rotate(0deg);
		.center {
			width: 100%;
			height: 50%;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			.ff,
			.connects {
				transform: rotate(0deg);
			}

			.ff {
				font-size: 2.5rem;
				height: 55px;
			}

			.connects {
				font-size: 1.2rem;
			}
		}
	}
}
