@mixin flex-Center {
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin flex-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.flex-col {
	@include flex-Center;
	flex-direction: column;
}
